<mat-toolbar class="topheader">

  <div class="topheader-container">

    <a routerLink="/" style="cursor: pointer;">
      <img width="200" height="57" src="assets/images/Logotipo-OjoCiudadanoBlanco.png" alt="Logotipo OjoCiudadano">
    </a>

    <nav class="Contenedor-menu-horizontal">
      <ul class="menu-horizontal">
        <button mat-button [matMenuTriggerFor]="menuConocenos" class="opcion" style="color: white; font-size: 22px; font-family: 'Lexend', sans-serif;">
          Conócenos ▼
        </button>

        <mat-menu #menuConocenos="matMenu">
          <button mat-menu-item [routerLink]="'/sobre-nosotros'">Sobre nosotros</button>
          <button mat-menu-item [routerLink]="'/que-es'">¿Qué es OjoCiudadano?</button>
        </mat-menu>
        <li><a href="https://elpais.com/noticias/obras-publicas/" target="_blank">Noticias</a></li>
        <li><a href="#Menj-Formu">Ayuda</a></li>
      </ul>
    </nav>

    <div class="Btn-IniciarSesion">

      @if (!estaLogueado()) {
        <button mat-raised-button class="Btn-IconoMensaje" [routerLink]="'/login'">
          <span>Iniciar Sesión</span>
          <mat-icon fontIcon="person"></mat-icon> </button>
      }

      @if (estaLogueado()) {
        <button mat-raised-button color="warn" class="Btn-IconoMensaje logout-style" (click)="cerrarSesion()">
          <span>Cerrar Sesión</span>
          <mat-icon fontIcon="logout"></mat-icon>
        </button>
      }

    </div>

  </div>
</mat-toolbar>
