html, body {
  margin: 0;
  padding: 0;
  /* Esto asegura que el contenido ocupe toda la altura visible */
  height: 100%;
  width: 100%;
  /* Opcional: Asegúrate de usar border-box en todos lados */
  box-sizing: border-box;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
